* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

.section {
  background: url("./top-image.png") top, url("./bottom-image.png") bottom,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)) top/100%
      20%,
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)) bottom/100%
      20%;
  background-repeat: no-repeat;
}

.section {
  background-color: white;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

h1 {
  background: url("./logo.png");
  border-radius: 50%;
  /* -webkit-box-shadow: 2px 3px 5px 1px #282a2d; */
  box-shadow: 3px 3px 3px #282a2d;
  /* filter: drop-shadow(3px 3px 3px black); */
}
